#optionsPanel a{
    background-color: #333;
    color: #f2f2f2;
    display: block;
    padding: 15px;
    text-decoration: none;
}
    #optionsPanel a:hover{
    background-color: #ccc;
}
#mainPanel{
    margin-top: 25px;
    display: flex;
}
    #optionsPanel{
    width: 300px;
    flex: 0 0 350px;
}
#informationPanel{
    flex: 1;
    background-color: #f4f4f4;
    padding: 5px;
    margin: 0px;
    overflow: auto;
    width: 100%; 
}