#header{
    margin-top: 10px;
    background-color: #f4f4f4;
    overflow: hidden;
}
#header > span, a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}