.contain{
    position: relative;
    top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#discover{
    text-align: center;
}

#photoJar{
    background-color:blue;
}

#divAction{
    background-color:red;
}

div#photoJar img{
    padding: 25px;
}


#fixedDiv{
    height:640px;
    width:800px;
    background-color: gray;
    position:fixed;
}

div#doScroll{
    overflow: auto;
}