
.navBar{
    background-color: #009ccb;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;   
    z-index:2;
}

.navBar img {
    float: left;
    overflow:visible;
    margin-left: 5px;
    
}

.navBar a{
    font-family: Avenir Next;
    font-size: 10px;
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 5px;
    overflow: hidden;
}



.navBar a:hover{
    background-color: #1a2f52;
    height: 45px;
}

.navBar a:hover:after {
    content: attr(data-hover);
    font-size: 10px;
    display: block;
}

.navBar a:active{
    background-color: #4CAF50;
    color: white;
}