
.navBar{
    background-color: #009ccb;
    position: fixed;
    width: 100%;
    height: 45px;
    top: 0;   
    z-index:2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navBar img {
    float: left;
    overflow:visible;
    margin-left: 5px;
    
}

.navBar a{
    font-family: Verdana;
    font-size: 10px;
    float: left;
    display: inline-block;
    color: #f2f2f2;
    padding: 5px;
    overflow: hidden;
}



.navBar a:hover{
    background-color: #1a2f52;
    height: 45px;
}

.navBar a:hover:after {
    content: attr(data-hover);
    font-size: 10px;
    display: block;
}

.navBar a:active{
    background-color: #4CAF50;
    color: white;
}

.searchbox {
    float: right;
    margin-right: 3%;
    margin-top: 10px;
}

.searchbox #search {
    float: right;
    margin-top: 1%;
    background-color: ghostwhite;         
    width: 100px;
    height: 20px;
    display: inline-flex;
    border-radius: 4px;
    margin-left: 1px;

}

