#welcomehead img {
    display: block;
    margin: auto;
  
}

#postContainer {
   margin-top: 1%;
   margin-left: 17.5%;
   margin-right: 17.5%; 
   display: flex;
   flex-wrap: wrap;

}

#postContainer .post {
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 5px;
    width: 433px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
    
a{
    cursor:pointer;
}

a, p{
    font-family: Verdana;
    font-size: 10pt;
}

#seeMore{ 
    font-family: Verdana;
    text-align:center;
    box-shadow: 0px 1px 2px black;
    padding: 3px;
    background-color: #009ccb;
    color: #f2f2f2;
    cursor:pointer;
    width: 875px;
    margin: auto;
 
    
}

#seeMore:hover{
    background-color: #1a2f52;
}
    
#noMore{
   
    text-align:center;
    background-color:white;
    cursor:not-allowed;
    width: 950px;
    padding: 3px;
    background-color: #009ccb;
    color: #f2f2f2;
}

#postContainer h1{
    font-family: Verdana;
    text-align: center;
    color:#009ccb;
    font-size: 18pt;
    display: inline;
    text-shadow: 0px 1px 2px #1a2f52;
}