#welcomehead img {
    display: block;
    margin: auto;
  
}

#postContainer {
   margin-top: 1%;


}

#postContainer .post {
    background-color: whitesmoke;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 18%;
    margin-right: 18%;
    padding: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    
}
    
a{
    cursor:pointer;
}

a, p{
    margin: 5px 15px;
    text-align:justify;
    font-family: Verdana;
    font-size: 10pt;
}

#seeMore{ 
    font-family: Verdana;
    text-align:center;
    box-shadow: 0px 1px 2px black;
    padding: 3px;
    background-color: #5192FF;
    color: #f2f2f2;
    cursor:pointer;
    width: 875px;
    margin: auto;
 
    
}

#seeMore:hover{
    background-color: #1a2f52;
}
    
#noMore{
   
    text-align:center;
    background-color:white;
    cursor:not-allowed;
    width: 950px;
    padding: 3px;
    background-color: #5192FF;
    color: #f2f2f2;
}

#postContainer .post h1{
    font-family: Verdana;
    margin: 10px 15px;
    text-align: center;
    color:#5192FF;
    font-size: 18pt;
    display: inline;
    text-shadow: 0px 1px 2px #1a2f52;
}