.user {
    
    float:right;
    height: 450px;
    width: 200px;
    position:relative;
    top:120px;

    z-index: 1;

}

.user span {
    font-family: Avenir Next;
    font-size: 15px;
    font-weight: bold;
}

.user p {
    font-family: Avenir Next;
    font-size: 10px;
    padding: 5px;
    margin-top: 0;
    line-height: 14px;
}


.userName{
    text-transform: none;
}
            
.row{

    height:750px;
    width:750px;
    position: relative;
    right:45px;
    top: 120px;


}
            
#albumsAndPost{
    background-color:white;
}    
            
#albums{
     background-color:yellow;
}    
            
            
#posts{
    background-color:gray;
}
            

#posts, #albums, #albumsAndPost{
    height: 700px;
    overflow:auto;
    font-family: Avenir Next;
}
