#wrapper {
  display: flex;
  padding:5px;
  margin-left: 85px;
  margin-right: 85px;
  position:relative;
  top:120px;  
}

.user {
    height: 450px;
    width: 200px;
    flex: 1;
}

.user span {
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
}

.user p {
    font-family: Verdana;
    font-size: 10px;
    padding: 5px;
    margin-top: 0;
    line-height: 14px;
}


.userName{
    text-transform: none;
}
            
.row{
    flex: 0 0 75%;
    height:750px;
    width:750px;
    right:45px;
}       

#posts, #albums, #albumsAndPost{
    height: 700px;
    overflow:auto;
    font-family: Verdana;
}
