#mainPanel{
    margin-top: 25px;
    display: flex;
}
#samplePictures{
    width: 300px;
    flex: 0 0 350px;
}
#posts{
    flex: 1;
    background-color: #f4f4f4;
    padding: 5px;
    margin: 0px;
    overflow: auto;
    width: 100%; 
}
.title, .content{
    color: dodgerblue;
}