#wrapper {
  display: flex;
  padding:5px;
  margin-left: 85px;
  margin-right: 85px;
  position:relative;
  top: 10%;
}

.user {
    height: 450px;
    width: 200px;
    flex: 1;
}

.user span {
    font-family: Verdana;
    font-size: 15px;
    font-weight: bold;
}

.user p {
    font-family: Verdana;
    font-size: 10px;
    padding: 5px;
    margin-top: 0;
    line-height: 14px;
}


.userName{
    text-transform: none;
}
            
.row{
    flex: 0 0 75%;
    height:750px;
    width:750px;
    right:45px;
}       

#posts, #albums, #albumsAndPost{
    height: 700px;
    overflow:auto;
    font-family: Verdana;
}

#map{
    width: auto;
    height: 250px;
    background-color:cornflowerblue;
}

.tabs .tab a{
    font-family: Verdana;
    font-weight: 300;
    color: white;
    background-color: #5192FF;
} /*Text color and background color*/

.tabs .tab a:hover {
    background-color:#1a2f52;
    color:white;
} /*Text & background color on hover*/

.tabs .tab a.active {
    background-color:#1a2f52;
    color:white;
} /*Background & text color when a tab is active*/

.tabs .indicator {
    background-color:#5192FF;
} /*This is the little line color dun sa baba ng mga tabs*/